 <html>

<head>

</head>

<body>

<section>

<div class="homepage">

<div id="test">

<h1 id="com" style="color: white; top: 60px;">

Hello Everyone
</h1>

</div>	
	

</div>

 


<script>
	$(function(){
		$("#com").typed({
			strings: ["This is a awsome", "awsome1", "awsome2"],
			typeSpeed: 50
		});
	});
</script>
</section>

</body>

</html>


<!-- <!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container w3-red">
  <h1>Header</h1>
</div>

<div class="homepage" style="width:1350px;height:800px;">
</div>

<div class="w3-container">
  <p>A car is a wheeled, self-powered motor vehicle used for transportation. Most definitions of the term specify that cars are designed to run primarily on roads. (Wikipedia)</p>
</div>

<div class="w3-container w3-red">
  <h5>Footer</h5>
</div>

</body>
</html> -->




